div{
  position: relative;
}
svg{
  /*stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 2000ms ease-in-out 4ms forwards;*/
  width: 40%;
}

@keyframes draw{
  0%{
      stroke-dashoffset: 500;
  }
  100%{
      stroke-dashoffset: 0;
  }
}

#svgInput{
  height: 200px;
}

.animateGradient{
  background-color: rgb(125, 0, 0);
  animation: pulseColor 5000ms alternate  ease-in-out infinite;
}

@keyframes pulseColor {
  50%{
    background-color: rgb(103, 56, 56);
  }
  
}
