
div{
  position: relative;
}
svg{
  /*stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 200ms ease-in-out 4ms forwards;*/
  width: 20%;
}

@keyframes draw{
  0%{
      stroke-dashoffset: 100;
  }
  100%{
      stroke-dashoffset: 0;
  }
}
@keyframes morphAnim {
50%{
  d: path("M135 505.127C321 494.627 155 192.627 365.5 170.127C576 147.627 589.846 468.616 686.5 539.627C809 629.627 1209.5 578.627 1207.5 629.627");
}
100%{
  d: path("M133.918 500.366C268.36 247.025 255.318 212.68 255.318 171.078C255.318 145.946 253.177 119.893 261.901 95.832C281.706 41.2066 339.118 9.72959 394.575 4.81C424.582 2.14807 458.991 0.114192 488.888 4.81C519.58 9.63068 548.125 33.2416 567.88 55.8822C609.937 104.083 636.687 171.585 644.261 235.089C648.196 268.085 651.095 301.182 652.092 334.396C653.317 375.183 656.435 417.258 647.325 457.423C632.571 522.477 570.904 563.73 522.482 603.149C497.919 623.145 470.553 635.846 440.426 644.574C393.543 658.157 347.456 672.292 299.694 682.708C199.708 704.514 103.229 701.658 2 691.901");
}
}
#morph path{
animation: morphAnim 2s ease 1s 1 forwards;
}
.form-settings{
  width: 50%;
  margin:5px auto;
  border: 5px solid black;
  border-radius: 15px;

  padding: 10px;
}