
div{
  position: relative;
}
svg{
  /*stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 200ms ease-in-out 4ms forwards;*/
  width: 40%;
}

@keyframes draw{
  0%{
      stroke-dashoffset: 100;
  }
  100%{
      stroke-dashoffset: 0;
  }
}


.form-settings{
  width: 50%;
  margin:5px auto;
  border: 5px solid black;
  border-radius: 15px;

  padding: 10px;
}
#svgInput{
  height: 200px;
}